<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bws.starlab_old_ver">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDFVOM4ifkX8zm9l237F4S4iXAJaKTcato" />

        <activity android:name="com.bws.starlab_old_ver.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.bws.starlab_old_ver.Firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.bws.starlab_old_ver.LoginActivity" />
        <activity android:name="com.bws.starlab_old_ver.DashboardActivity" />
        <activity android:name="com.bws.starlab_old_ver.CreateJobActivity" />
        <activity android:name="com.bws.starlab_old_ver.MyJobActivity" />
        <activity android:name="com.bws.starlab_old_ver.AssetsDetailsActivity" />
        <activity android:name="com.bws.starlab_old_ver.CreateTimeSheetActivity" />
        <activity android:name="com.bws.starlab_old_ver.MyAccountActivity" />
        <activity android:name="com.bws.starlab_old_ver.SettingActivity" />
        <activity android:name="com.bws.starlab_old_ver.DashBoardClientActivity" />
        <activity android:name="com.bws.starlab_old_ver.MyServiceActivity" />
        <activity android:name="com.bws.starlab_old_ver.ClientViews.CreateServiceRequestActivity" />
        <activity android:name="com.bws.starlab_old_ver.ClientViews.ViewInvoiceStatusActivity" />
        <activity android:name="com.bws.starlab_old_ver.PushNotificationActivity" />
        <activity android:name="com.bws.starlab_old_ver.ModifyScheduleActivity" />
        <activity android:name="com.bws.starlab_old_ver.ManagerViews.ViewJobsActivity" />
        <activity android:name="com.bws.starlab_old_ver.ManagerViews.DashBoardManagerActivity" />
        <activity android:name="com.bws.starlab_old_ver.ManagerViews.JobDetailsManagerActivity" />
        <activity android:name="com.bws.starlab_old_ver.ManagerViews.ApproveScheduleManagerActivity" />
        <activity android:name="com.bws.starlab_old_ver.ManagerViews.AproveTimesheetActivity" />
        <activity android:name="com.bws.starlab_old_ver.ManagerViews.BillingStatusActivity" />
        <activity android:name="com.bws.starlab_old_ver.ManagerViews.ViewScheduleActivity" />
        <activity android:name="com.bws.starlab_old_ver.ClientViews.ViewServiceActivity" />
        <activity android:name="com.bws.starlab_old_ver.ClientViews.InvoiceDetailsActivity" />
        <activity android:name="com.bws.starlab_old_ver.CalenderTestActivity"></activity>
    </application>

</manifest>